.featuredCard {
    border-radius: 5px;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    object-fit: contain;
    margin: 2px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(213, 213, 213);
}

.heroImage:hover {
    cursor:pointer;
}

.featuredCardTitle {
    height: 1rem;
    overflow: hidden;
    margin: 2px;
}

div {
    font-size: 0.6rem;
}

h4 {
    font-size: 0.7rem;
    margin: 0px;
}

.imageWrapper {
    height: 100px;
    overflow: hidden;
}

.heroImage {
    align-self: center;
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
}

.featuredDescription {
    overflow: auto;
    height: 1.5rem;
    padding: 4px;
}

.price, .totalPrice {
    text-align: right;
    grid-column: 1;
}

.priceGrid {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1rem 1rem;
    margin-bottom: 5px;
}

.goToCart {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 2;
    width: 45%;
    height: 80%;
    background-color: rgb(109, 196, 109);
    justify-self: center;
}

svg {
    position:relative;
    top: -2px;
}

.goToCart svg {
    justify-self: center;
}