.featuredCard {
    border: solid black 1px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    object-fit: contain;
    padding: 10px;
    margin: 2px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.featuredCardTitle {
    height: 1rem;
    overflow: hidden;
    margin-bottom: 10px;
}

div {
    font-size: 0.6rem;
}

h4 {
    font-size: 0.7rem;
    margin: 0px;
}

.heroImage {
    align-self: center;
    object-fit: contain;
    width: auto;
    height: 100px;
    margin: 0 auto;
}