.featuredSection {
    background-color: white;
    height: 400px;
    width: 100%;
}

.featuredGrid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
    column-gap: 10px;
}

.title {
    font-size: 1.5rem;
    padding: 15px;
    color: rgb(80, 80, 80);
}