.bannerContainer {
    height: 250px;
    width: 100vw;
    background-color: #dfdfdf;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 200px;
    background-color: #dfdfdf;
}

button {
    width: 100px;
    color: black;
    background-color: #3f91c4;
}

button:hover {
    opacity: 80%;
}

a {
    color: black;
}

h1, h2 {
    margin: 0px;
    padding: 10px;
    color: #000000;
}

.clothesPic {
    align-self: center;
    object-fit: cover;
    max-height: 200px;
}