.bannerContainer {
    height: 400px;
    width: 100vw;
    background-color: #dfdfdf;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 30%;
    color: black;
    background-color: #3f91c4;
}

a {
    color: black;
}

h1, h2 {
    margin: 0px;
    padding: 10px;
    color: #000000;
}

.clothesPic {
    object-fit: cover;
    max-height: 400px;
}